body{
  margin: 0;
}

.movies-nav{
  padding: 10px;
  background-color: black;
  display: flex;
}

.movies-list-box{
  display: flex;
  flex-wrap: wrap;
}

.movie-row{
  margin-bottom: 5px;
}

.movies-create-box{
  justify-content: center;
}

.movies-box{
  display: flex;
  justify-content: center;
}

label {
  display: inline-block;
  width: 140px;
  text-align: right;
}

.botao-switch{
  margin-right: 10px;
}

.button-div-filler{
  width: 1vw;
}

.movie-box{
  padding: 10px;
  border: 1px black;
  border-radius: 50% 20% 30% 20%;
  border-style: dashed;
}

.movie-title{
  display: flex;
  justify-content: center;
}

.movie-image{
  display: flex;
  justify-content: center;
}

.movie-button{
  display: flex;
  justify-content: center;
}

.page-title{
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2.5vh
}
